
@model System.Collections.Generic.ICollection<Data.Entities.Entities.Comment>
@foreach(var comment in Model)
{
    if (comment.AuthorId == TaskManagerASP.Models.AuthenticationManager.GetLoggedUser(Context).Id)
    {
        <a class="glyphicon glyphicon-pencil" asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id"></a>
        <a class="glyphicon glyphicon-trash" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id"></a>
    }
    <div class="well">@comment.Body</div>
}

