@{
    ViewData["Title"] = "Edit comment";
}

<h2>Edit</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">@Html.ValidationSummary()</div>
}
 @using (Html.BeginForm("Edit", "Comments"))
 {
     @model Data.Entities.Entities.Comment
     @Html.HiddenFor(m => m.TaskId)
     @Html.HiddenFor(m => m.Id)
     @Html.TextAreaFor(m => m.Body, new {@class = "form-control"})
     <br/>
     <input type="submit" class="btn btn-primary"/>
 }

